@import url(//db.onlinewebfonts.com/c/0d02c5478254b9b31ea8fc5dd46149c2?family=AlgerianMesaPlainW00-Rg);

:root {
    --title-textt: 'AlgerianMesaPlainW00-Rg';
    --primary: #fcdf4e;
    --complement: #b09925;
    --accent: #8c2621;
    --white: #eee9eb;
    --black: #2c2723;
    --highlight: #ff473e;
}
.off {
    display: none;
}
.on {
    display: block;
}
a, li {
    text-decoration: none;
    color: inherit;
    list-style: none;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.light-text {
    color: var(--primary);
}
.light-semitext {
    color: var(--complement);
}

body {
    font-family: var(--title-textt);
    background: var(--white);
    color: var(--black);
}

nav {
    background: var(--primary);
    padding: 0.5em;
    font-size: 1.5em;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

h1 {
    padding: 3em;
    font-size: 4em;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 3px 3px 0 var(--accent);
    color: var(--accent);
}

#brian {
    font-size: 1.5em;
}
.mic {
    font-size: 5em;
    position: fixed;
    top: 22.5vh;
    left: 45.3vw;
}
.bowtie {
    font-size: 8em;
    position: fixed;
    top: 71vh;
    left: 43.5vw;
}
footer {
    background: var(--primary);
    position: fixed;
    width: 100vw;
    height: 5vh;
    top: 95vh;
}

.dark {
    background: var(--black);
    color: var(--white);
}
.dark-bg {
    background: var(--accent);
}
.dark-text, .dark-logo, .dark-semitext {
    color: var(--highlight);
}
