@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Open+Sans:wght@400;600&display=swap');
@font-face {
	font-family:'frozen'; 
	src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Ice%20kingdom%20-%20Bold%20-%20Por%20Kustren.woff');
}
:root
{
    --purple: #80F;
    --gold: #EB0;
    --ice: linear-gradient(to bottom, #0FFD, #FFFD);
    --darkIce: linear-gradient(to bottom, #022, #202);
}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--gold)
}

body
{
    background: var(--darkIce);
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: var(--gold);
}

body::after
{
    content: '';
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    background: url(pattern.jpg) repeat;
    background-size: 25%;
    filter: invert(1);
    mix-blend-mode: multiply;
    animation: slide 60s linear infinite;
}

@keyframes slide
{
    0%
    {
        background-position: 0 0;
    }
    100%
    {
        background-position: 0 1000px;
    }
}

nav
{
    background: linear-gradient(to bottom left, #A8F, var(--purple), #202);
    display: flex;
    width: 100vw;
}

.logo
{
    font-family: 'frozen', 'Cinzel Decorative', fantasy;
    font-size: 5em;
    width: 50%;
}

.logo a
{
    margin-left: 1em;
    -webkit-text-stroke: 3px #4206;
    background: radial-gradient(ellipse closest-side at 30%, #FB08, #0006), url(glitter.jpg);
    background-size: 75%;
    paint-order: stroke fill;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.menu
{
    display: flex;
    width: 50%;
    margin-left: auto;
    justify-content: space-around;
    align-items: flex-end;
    margin: 20px;
    list-style: none;
    font-size: 1.2em;
}

footer
{
    position: absolute;
    min-width: 100vw;
    bottom: 0%;
    background: var(--purple);
    height: 1.5em;
    z-index: 1000;
}