@import url(//db.onlinewebfonts.com/c/50cd2aad9c8f35800bb6beac3ad42f16?family=Azonix);

:root {
  --move: 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", sans-serif;
}

header {
  text-align: center;
  width: 100%;
  height: 50px;
  background: linear-gradient(to bottom, #333, #111);
  color: white;
  font-family: "Azonix";
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.nav {
  display: flex;
  justify-content: space-around;
}

.game-state {
  display: block;
  width: 150px;
  text-align: center;
  background: orange;
  padding: 1em;
  border-radius: 20%;
  font-weight: bold;
  border: 2px solid orangered;
  cursor: pointer;
}

.head {
  position: absolute;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 5em;
}

.open,
.closed,
.oops {
  display: none;
}

.active {
  display: block;
}

.field {
  margin-top: 50px;
  background: sandybrown;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 650px;
  border-radius: 10%;
  transition: 200ms;
}

.winner,
.player,
.dead {
  font-size: 2em;
}

.player,
.dead {
  position: absolute;
  margin-top: calc(700px - var(--move));
  display: none;
  transition: 0.5s;
  margin-right: 60%;
}

.alive {
  display: block;
}
