:root {
    --move: 0em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
}

header {
    text-align: center;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, #333, #111);
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.game-state {
    display: block;
    width: 100px;
    text-align: center;
    background: orange;
    padding: 1em;
    border-radius: 20%;
    font-weight: bold;
    border: 2px solid orangered;
    cursor: pointer;

}

.head {
    position: absolute;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 8em;
}

.open, .closed, .oops {
    display: none;
}

.active {
    display: block;
}

.field {
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.winner, .player, .dead{
    font-size: 2em;
}

.player, .dead{
    position: absolute;
    margin-top: calc(25em - var(--move));
    display: none;
    transition: 0.5s;
}

.alive {
    display: block;
}